/* COLOR SCHEME: Cherry Cheesecake */

#wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}

#me{
  float:right;
}

header {
  color: #F6E497;
  background-color: #B9121B;
  background-image: url(Header.png);
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

nav {
  color: #4C1B1B;
  background-color: #F6E497;
  padding: 5px 10px;
  font-size: 14pt;
  font-weight: bold;
  box-shadow: 0px 10px 5px -5px #BD8D46;
  position: relative;
}

nav a {
  color: #4C1B1B;
  text-decoration: none;
}

main {
  color: #4C1B1B;
  background-color: #FCFAE1;
  padding: 10px;
  z-index: 0;
}

main a{
  color: #4C1B1B;
}

footer {
  color: #F6E497;
  background-color: #B9121B;
  padding: 5px 10px;
  font-size: 10pt;
  font-style: italic;
  border-radius: 0 0 10px 10px;
}

footer a{
  color: #F6E497;
}

.details {
  color: #FCFAE1;
  background-color: #BD8D46;
  float: right;
  padding: 5px 10px;
}

.school img{
  float: left;
}

.school h3{
  margin: 0 0 0 120px;
}

.school h4{
  font-size: 14pt;
  font-weight: lighter;
  margin: 0 0 0 120px;
}

.school ul{
  margin: 0 0 0 120px;
}

body {
  font-family: Calibri, Helvetica, Arial, sans-serif;
  background-color: #4C1B1B;
}

h1{
  margin: 0;
  padding: 5px 10px;
  font-size: 42pt;
  line-height: 36pt;
  font-weight: lighter;
}

h2{
  margin: 0;
  padding: 0 10px 5px;
  font-size: 18pt;
  line-height: 22pt;
  font-weight: lighter;
  font-style: italic;
}

h3{
  font-size: 24pt;
  font-weight: lighter;
  margin: 0;
}


.experience, .school{
  border-left: 10px solid #4C1B1B;
  border-top: 1px dashed #4C1B1B;
  border-right: 1px dashed #4C1B1B;
  border-bottom: 1px dashed #4C1B1B;
  margin: 20px;
  padding: 5px 10px;
  overflow: auto;
}

.experience h4{
  font-size: 18pt;
  font-weight: lighter;
  margin: 0;
}

.experience .title{
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}

.experience .dates{
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
  float: right;
}

.experience .description{
  font-size: 11pt;
}

.experience ul{
  margin: 0;
}

.experience .responsibilities{
  font-size: 10pt;
  -webkit-column-count: 2;
  -moz-column-count:2;
  column-count:2
}


header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}